<div class="row">
	<div class="col-md-12">
		<h1>My Meals</h1>
	</div>
	<div class="meals-list inventory">
		<div class="achieved-meals bg-success">
			<h3>Complete Meals</h3>
			<ul class="list-unstyled">
				<li ng-repeat="meal in vm.completeMeals" class="meal row">
					<div class="col-xs-2">
							<button class="btn btn-danger pull-left" ng-click="vm.removeMeal(meal)">Remove</a>
					</div>
					<div class="col-xs-8"><h4>{{meal.name}}</h4></div>
					<div class="col-xs-2">
 						 <a class="btn btn-primary pull-right place" ui-sref="food-calendar">Place</a>
 				 </div>
				</li>
			</ul>
		</div>
		<div class="partial-meals">
			<h3>Pending Meals</h3>
			<ul class="list-unstyled">
				<li ng-repeat="meal in vm.pendingMeals" class="meal row">
					<div class="col-xs-2">
							<button class="btn btn-danger pull-left" ng-click="vm.removeMeal(meal)">Remove</a>
					</div>
					<div class="col-xs-8">
						<h4>{{meal.name}}</h4>
						<p class="list-intro-inline">Missing ingredients:</p>
						<ul class="inline-list ingredients-list">
		         <li ng-repeat="ing in meal.ingredients.missing">{{ing.name}}</li>
		       </ul>
				 </div>
				 <div class="col-xs-2">
				 </div>
				</li>
			</ul>
		</div>
		<div class="add-controls">
			<select name="mealsAdder" ng-model="vm.chosenRecipe" ng-change="vm.createMeal()">
				<option value="" ng-selected="true">Add a meal
				<option ng-repeat="recipe in vm.recipes" value="{{recipe._id}}">{{recipe.name}}</option>
			</select>
			<!-- <button class="btn btn-primary" ng-click="vm.addMeal()"><span class="">Add meal</span></button> -->
		</div>
	</div>
</div>
