<div class="row">
	<div class="col-xs-12">
		<h1>My Meals</h1>
	</div>
</div>
	<div class="meals-list inventory">
		<div class="row">
		<div class="col-xs-12">
		<div class="achieved-meals panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Complete Meals</h3>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li ng-repeat="meal in vm.completeMeals" class="meal row">
						<div class="col-xs-2">
								<button class="btn btn-danger pull-left" ng-click="vm.removeMeal(meal)">
									<span class="hidden-xs">Remove</span>
									<span aria-ignore="true" class="visible-xs-inline glyphicon glyphicon-remove"></span>
								</a>
						</div>
						<div class="col-xs-8"><h4>{{meal.name}}</h4></div>
						<div class="col-xs-2"></div>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="partial-meals panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pending Meals</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="meal in vm.pendingMeals" class="meal row">
							<div class="col-xs-2">
									<button class="btn btn-danger pull-left" ng-click="vm.removeMeal(meal)">
										<span class="hidden-xs">Remove</span>
										<span aria-hidden="true" class="visible-xs-inline glyphicon glyphicon-remove"></span>
									</a>
							</div>
							<div class="col-xs-8">
								<h4>{{meal.name}}</h4>
								<p class="list-intro-inline">Missing ingredients:</p>
								<ul class="inline-list ingredients-list">
				         <li ng-repeat="item in meal.ingredients.missing">{{item.ingredient.name}}</li>
				       </ul>
						 </div>
						 <div class="col-xs-2">
						 </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="add-controls">
			<select name="mealsAdder" ng-model="vm.chosenRecipe" ng-change="vm.createMeal()" class="form-control" ng-disabled="isLoading">
				<option value="" ng-selected="true">Add a meal</option>
				<option ng-repeat="recipe in vm.recipes" value="{{recipe._id}}">{{recipe.name}}</option>
			</select>

			<!--<ui-select ng-model="vm.searchOptions"
             reset-search-input="false"
             title="Choose a Meal">
    <ui-select-match placeholder="Pick a meal...">{{$select.selected.recipe}}</ui-select-match>
    <ui-select-choices repeat="recipe in vm.recipes track by $index">
      <div ng-bind-html="recipe.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>-->
		</div>
	</div>
</div>
