<!-- <form novalidate  name="signupForm" ng-submit="vm.signup()">
  <formly-form model="vm.model" fields="vm.fields" form="vm.form">
    <button type="submit" class="btn btn-default" ng-disabled="signupForm.$invalid">Submit</button>
  </formly-form>
</form>

<pre ng-if="vm.error">{{ vm.error | json }}</pre> -->



<form novalidate  name="signupForm" ng-submit="vm.signup()">
  <h1>Sign Up</h1>

  <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" placeholder="Enter an email address" ng-model="vm.user.email" ng-required="true" ng-minlength="2" ng-maxlength="30" class="form-control">
    <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">A valid email is required.</p>
    </div>
  </div>



  <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter a password" ng-model="vm.user.password" ng-required="true" ng-minlength="2" ng-maxlength="30" class="form-control">
    <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">A valid password is required.</p>
    </div>
  </div>




  <hr>
  <div class="form-group">
    <label for="userBudget">Budget (&pound; per week):</label>
    <input id="userBudget" class="form-control" type="number" ng-model="vm.user.budget" placeholder="&pound;?">
  </div>

  <button type="submit" class="btn btn-default" ng-disabled="signupForm.$invalid">Submit</button>

  </form>
