<div>
  <h1 class="banner">KitchenApp</h1>


    <img class="hero" src="/assets/images/Food-Spread-500x167.jpg" alt="banner image" sizes="(min-width: 992px) 80vw, 100vw"
	srcset="/assets/images/Food-Spread-500x167.jpg 500w,
			/assets/images/Food-Spread-768x256.jpg 768w,
			/assets/images/Food-Spread-992x331.jpg 992w,
			/assets/images/Food-Spread-1200x400.jpg 1200w">


  <div class="row">
    <div class="col-md-6">
  <h2>Purpose</h2>
  <p>The idea behind kitchen app is to allow you to plan meals and shopping. By building meals and then placing them into the calendar, the system will allow you to:</p>
  <ul>
  	<li>plan meals</li>
  	<li>see what you have in your cupboards</li>
  	<li>keep a shopping list</li>
  </ul>
  <p>...and you can even add your own recipes and ingredients!</p>
  <strong ng-if="!Auth.isLogged()">To begin, please register or sign in above...</strong>
</div>
<div class="col-md-6">
  <h2>How to use the app</h2>
  <p>(Semantically running right to left on the main menu)</p>
  <ul>
	  <li><span class="bg-info">Ingredients</span> are the raw materials.</li>
	  <li><span class="bg-info">Recipes</span> are the ideas for a meal.</li>
	  <li><span class="bg-info">Shopping</span> handles the purchasing of those ingredients.
      <ul>
        <li>The <span class="bg-info">Shopping List</span> shows you what you need to buy to make your <span class="bg-success">pending meals</span>.</li>
        <li>The <span class="bg-info">Budget</span> view shows you how well you're doing against your nominated budget.</li>
      </ul>
    </li>
    <li>Your <span class="bg-info">Cupboard</span> shows you what you've got in stock and allows you to allocate food to different meals.</li>
	  <li><span>Meals</span> signify the intent of taking ingredients to follow a recipe.
		  <ul>
		  	<li>The <strong class="bg-info">Build Meals</strong> view allows you to <span class="bg-success">Add a Meal</span>:
				<ul>
					<li>If you have all the ingredients, then those ingredients are removed form your <span class="bg-success">Cupboard</span> and the meal then appears in your <span class="bg-success">Complete Meals</span> listing.</li>
					<li>If you don't have the ingredients then the meal goes into the <span class="bg-success">Pending Meals</span> section and the ingredients you are missing appear on the <span class="bg-success">Shopping List</span>, whilst the ingredients you have are removed from your <span class="bg-success">Cupboard</span>.</li>
				</ul>
			</li>
			<li>The <strong class="bg-info">Schedule Meals</strong> view allows you to see your upcoming meals and to place <span class="bg-success">Complete Meals</span> onto a food calendar.</li>
			<li>You can remove a meal from the calendar and the 'Build Meals' view at any time and the ingredients will be released back into your cupboard.</li>
		  </ul>
	  </li>
  </ul>
</div>
</div>
</div>
