<div class="modal-container" stop-event="touchend">
		<button type="button" class="close" aria-label="Close" ng-click="$close(null)"><span aria-hidden="true">&times;</span></button>
	<div class="row">
		<div class="col-xs-12">
			<h1>Manually Reserve Item</h1>
			<p>Choose a meal to reserve the item for:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled">
				<li ng-repeat="meal in pendingMeals">
					<button href="#" class="btn btn-block btn-info" ng-click="reserve(this.item, meal); $close(null)">{{::meal.name}}</button>
				</li>
			</ul>
		</div>
	</div>
</div>
