<div class="modal-container">
	<button type="button" class="close" aria-label="Close" ng-click="$close(null)"><span aria-hidden="true">&times;</span></button>


      <div class="iframe-wrapper">
        <h1>Place a meal</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8Y3TU6T0n34" frameborder="0" allowfullscreen></iframe>
<div class="actions">
	<button type="button" class="btn btn-primary pull-right" aria-label="Close" ng-click="$close(null)">Done</button>
</div>
</div>


</div>
