<form ng-submit="vm.addIngredient(this)" novalidate name="ingredientForm">

  <div class="form-group" ng-class="{ 'has-error' : ingredientForm.name.$invalid && !ingredientForm.name.$pristine }">
  	<label for="ingredient_name">Name</label>
  	<input type="text" name="name" id="ingredient_name" class="form-control" placeholder="Give it a name" ng-model="vm.newIngredient.name" ng-required="true" ng-minlength="2" ng-maxlength="30" ng-trim="true">
    <ul ng-if="ingredientForm.name.$invalid && !ingredientForm.name.$pristine" ng-messages="ingredientForm.name.$error" class="help-block list-unstyled">
      <li ng-message="required">A name is required.</li>
      <li ng-message="minlength">The name must be longer than 2 characters.</li>
      <li ng-message="maxlength">The name must be less than 30 characters.</li>
    </ul>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : ingredientForm.description.$invalid && !ingredientForm.description.$pristine }">
  	<label for="ingredient_description">Description</label>
  	<textarea name="description" id="ingredient_description" class="form-control" placeholder="Add a description" ng-model="vm.newIngredient.description" ng-required="true" ng-minlength="2" ng-maxlength="100" ng-trim="true"></textarea>
    <ul ng-if="ingredientForm.name.$invalid && !ingredientForm.name.$pristine" ng-messages="ingredientForm.description.$error" class="help-block list-unstyled">
      <li ng-message="required">A description is required.</li>
      <li ng-message="minlength">The name must be longer than 2 characters.</li>
      <li ng-message="maxlength">The name must be less than 100 characters.</li>
    </ul>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : ingredientForm.mg_url.$invalid && !ingredientForm.mg_url.$pristine }">
    <label for="ingredient_img_url">Image URL</label>
    <input type="url" id="ingredient_img_url" class="form-control" name="img_url" placeholder="Provide a link to an image of the ingredient" ng-model="vm.newIngredient.imageURL" ng-trim="true">
    <p ng-show="ingredientForm.img_url.$invalid && !ingredientForm.img_url.$pristine" class="help-block">Incorrect URL format.</p>
    <ul ng-if="ingredientForm.img_url.$invalid && !ingredientForm.img_url.$pristine" ng-messages="ingredientForm.img_url.$error" class="help-block list-unstyled">
      <li ng-message="invalid">Image URL is not of the right format.</li>
    </ul>
  </div>

  <div class="form-group horizontal-group" ng-class="{ 'has-error' : ingredientForm.price.$invalid && !ingredientForm.price.$pristine }">
    <fieldset>
      <legend>Price: <span class="text-info">&pound;{{vm.newIngredient.price.toFixed(2)}}</span></legend>

    <div class="horizontal-input-group">
      <label for="ingredient_price_pounds">&pound;</span> </label>
      <input type="number" name="pounds" id="ingredient_price_pounds" class="form-control" placeholder="How much is it? &pound;&apos;s" ng-model="vm.newIngredient.pounds" ng-required="true" ng-maxlength="5" ng-keyup="vm.handlePrice(event)" numbersOnly>
      <input type="number" name="pence" id="ingredient_price_pence" class="form-control" placeholder="pence" ng-model="vm.newIngredient.pence" ng-required="true" maxlength="2" ng-maxlength="2" ng-keyup="vm.handlePrice(event)" numbersOnly>
      <label for="ingredient_price_pence"><abbr title="pence">p</abbr></label>
    </div>
    <ul ng-if="ingredientForm.price.$invalid && !ingredientForm.price.$pristine" ng-messages="ingredientForm.price.$error" class="help-block list-unstyled">
      <li ng-message="required">A price is required.</li>
    </ul>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : ingredientForm.quantity.$invalid && !ingredientForm.quantity.$pristine }">
    <label for="ingredient_quantity">Quantity (in servings)</label>
    <input type="text" name="quantity" id="ingredient_quantity" class="form-control" placeholder="What quantity does it come in?" ng-model="vm.newIngredient.quantity" ng-required="true"  maxlength="10" ng-trim="true">
    <ul ng-if="ingredientForm.quantity.$invalid && !ingredientForm.quantity.$pristine" ng-messages="ingredientForm.quantity.$error" class="help-block list-unstyled">
      <li ng-message="required">A quantity is required.</li>
      <li ng-message="maxlength">Quantity value must be less than 10 characters.</li>
    </ul>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid">Add</button>
  </div>

</form>
