<div class="row">
  <div class="col-xs-12">
    <h1>Ingredients List</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong ng-if="gridOptions.data.length === 0">There are no ingredients in memory. Please create a new one <a ui-sref="addIngredient">here</a></strong>
  </div>
</div>
<div class="controls row" ng-if="gridOptions.data.length > 0">
  <div class="col-sm-12">
    <button class="btn btn-primary" type="button" ng-click="vm.addToCupboard()">Add to Cupboard</button>

    <button class="btn btn-primary" type="button" ng-click="vm.addToShopping()">Add to Shopping List</button>

    <button class="btn btn-default" type="button" ng-click="vm.clear()">Clear Selection</button>
  </div>
</div>
<div class="row">
  <div class="grid-wrapper">
    <p class="bg-info responsive-table">Slide the table left to see all the columns</p>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid ng-ui-grid" ng-if="gridOptions.data.length > 0"></div>
  </div>
</div>
