<nav  class="navbar navbar-default navbar-fixed-top">
  <div class="loading-warning" ng-show="isLoading">
        <p>Computing...</p>
  </div>
  </div>
<div class="container-fluid" ng-if="!isLoading">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  ng-hide="isLoading">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ui-sref="home"><span class="logo">K</span><span class="hidden-md hidden-lg">itchenApp</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-hide="isLoading">
        <li ng-show="Auth.isLogged()">
          <a ui-sref="food-calendar" href="#">Schedule Meals</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a ui-sref="meals" href="#">Build Meals</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a ui-sref="cupboard" href="#">My Cupboard</a>
        </li>
        <li class="dropdown" ng-show="Auth.isLogged()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self">Shopping<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ui-sref="shop" href="#">Shopping List</a>
            </li>
            <li>
              <a ui-sref="budget" href="#">Budget</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self">Recipes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" ui-sref="recipes">List Recipes</a>
            </li>
            <li ng-show="Auth.isLogged()">
              <a href="#" ui-sref="addRecipe">Add Recipe</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self">Ingredients<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" ui-sref="ingredients">List Ingredients</a>
            </li>
            <li ng-show="Auth.isLogged()">
              <a href="#" ui-sref="addIngredient">Add Ingredient</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="auth-menu"  ng-if="!isLoading || !isLoggingOut">
        <li ng-hide="Auth.isLogged()">
          <a href="#" ui-sref="signup">signup</a>
        </li>
        <li ng-hide="Auth.isLogged()">
          <a href="#" ui-sref="login">login</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a href="#" ui-sref="profile">Profile</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a href="#" ng-click="Auth.logout()">logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid  -->
</nav>
