<nav  class="navbar navbar-default navbar-fixed-top">
  <div class="loading-warning" ng-show="isLoading">
        <p>Computing...</p>
  </div>
  </div>
<div class="container-fluid" ng-if="!isLoading">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  ng-hide="isLoading">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ui-sref="home" ui-sref-active="active"><span class="logo">K</span><span class="full-title">itchenApp</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-hide="isLoading">
        <li ng-show="Auth.isLogged()">
          <a ui-sref="food-calendar" href="#" ui-sref-active="active">Schedule Meals</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a ui-sref="meals" href="#" ui-sref-active="active">Build Meals</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a ui-sref="cupboard" href="#" ui-sref-active="active">My Cupboard</a>
        </li>
        <li class="dropdown" ng-show="Auth.isLogged()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" ng-class="{ active: vm.shoppingState }">Shopping<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ui-sref="shop" href="#" ui-sref-active="active">Shopping List</a>
            </li>
            <li>
              <a ui-sref="budget" href="#" ui-sref-active="active">Budget</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-show="Auth.isLogged()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" ng-class="{ active: vm.recipeState }">Recipes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" ui-sref="recipes" ui-sref-active="active">List Recipes</a>
            </li>
            <li ng-show="Auth.isLogged()">
              <a href="#" ui-sref="addRecipe" ui-sref-active="active">Add Recipe</a>
            </li>
          </ul>
        </li>

        <li class="dropdown" ng-show="Auth.isLogged()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" ng-class="{ active: vm.ingredientState }">Ingredients<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" ui-sref="ingredients" ui-sref-active="active">List Ingredients</a>
            </li>
            <li ng-show="Auth.isLogged()">
              <a href="#" ui-sref="addIngredient" ui-sref-active="active">Add Ingredient</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="auth-menu"  ng-if="!isLoading || !isLoggingOut">
        <li>{{vm | json}}</li>
        <li ng-hide="Auth.isLogged()">
          <a href="#" ui-sref="signup" ui-sref-active="active">signup</a>
        </li>
        <li ng-hide="Auth.isLogged()">
          <a href="#" ui-sref="login" ui-sref-active="active">login</a>
        </li>
        <li ng-show="Auth.isLogged()">
          <a href="#" ui-sref="profile" ui-sref-active="active">Profile</a>
        </li>
        <li ng-show="Auth.isLogged()" ui-sref-active="active">
          <a href="#" ng-click="Auth.logout()">logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid  -->
</nav>
