<div class="row">
	<div class="col-md-12">
  		<h1>Shop View</h1>
  	</div>
  	<div class="col-md-12">
  	<p ng-if="!vm.items.length">You have no items on your list. Add <a ui-sref="meals">meals</a> to generate a shopping list.</p>
	  	<ul class="list-unstyled shoppingList">
	  		<li ng-repeat="item in vm.items">
	  			<div class="col-md-10 description">{{item.name}}</div>
	  			<div class="col-md-2 actions">
	  				<button type="button" class="btn btn-primary" ng-click="vm.buy(this.item)">Buy</button>
	  			</div>
	  		</li>
	  	</ul>
  	</div>
</div>