<div class="row">
	<div class="col-md-12">
		<h1>Shopping List</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p ng-if="!vm.items.length">You have no items on your list. Add <a ui-sref="meals">meals</a> to generate a shopping list. (You can also add items from the <a ui-sref="ingredients">ingredients</a> view)</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div ng-if="vm.items.length > 1" class="col-md-6 col-md-offset-6">
			<div class="pull-right sorts" ng-if="vm.meals.complete.length > 0 || vm.meals.pending.length > 0">
				<p>Sort by: </p>
				<div class="btn-group  btn-group-lg" role="group" aria-label="sorting choices">
					<button type="button" class="btn btn-primary" ng-click="vm.sortBy('name')">Name</button>
					<button type="button" class="btn btn-primary" ng-click="vm.sortBy('reservation')">Reservation</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled shoppingList">
  		<li ng-repeat="item in vm.items track by $index">
  			<div class="col-md-10 description">
					<div class="image-container">
						<img ng-if="item.ingredient.imageURL" ng-src="{{item.ingredient.imageURL}}" width="50px" height="50px">
						<img ng-if="!item.ingredient.imageURL" src="/assets/images/item-img-placeholder.png" width="50px" height="50px">
					</div>
					<div class="details-container">
						<h2>{{item.ingredient.name}}</h2>
						<p ng-if="item.reservedFor" class="reservedFor">(To make <span class="text-info">{{item.reservedFor.name}}</span>)</p>
					</div>
				</div>
  			<div class="col-md-2 actions">
  				<button type="button" class="btn btn-primary" ng-click="vm.buy(item)">Buy</button>
					<button type="button" class="btn btn-danger" ng-if="!item.reservedFor" ng-click="vm.remove(item)">Remove</button>
  			</div>
  		</li>
  	</ul>
	</div>
</div>
